body{
	font-family: Nunito, sans-serif;
	color: #1c1c1c
}

h1{
	font-size: 60px;
}

p{
	font-size: 35px;
	font-family: Asap,sans-serif;
}

h3{
	font-size: 30px;
}

h2{
	font-size: 40px;
}

h1,h2,h3,p{
	font-family: Itim, sans-serif;
	color: #000000
}

a{
	text-decoration: none; 
	font-weight: 800;
	font-family: Itim, sans-serif;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#sobre{
	display: flex; 
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#sobre p{
	max-width: 1000px;
}



#servicos div{
	display: flex; 
	flex-direction: column;
	align-items: center;
	text-align: center;
}

footer{
	text-align: center;
}

@media screen and (min-width: 768px){

header{
	justify-content: center;
}

#sobre{
	justify-content: center;
	min-height: 250px;
}

#servicos{
	flex-direction: row; 
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}

#servicos div{
	flex-grow: 1;
	flex-basis: 150px;
}

.tamanho{
	height: 250px;
	width: 600px;
}


}



